.card-with-bg {
    background-image: url('./../images/weddingBackground.jpeg'); /* Replace with your image path */
    background-size: cover; /* Adjust this to control image sizing */
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Set the height of the card to the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Apply Fira Sans font to specific elements */
body, h1, h2, p, .btn {
    font-family: 'Fira Sans', sans-serif;
}

/* Customize the navigation bar */
.navbar {
    background: transparent;
    margin: 1em;
    font-family: 'Fira Sans', sans-serif;
}

.navbar-dark .navbar-nav .nav-link, .navbar-brand {
    color: #fff;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

/* Style for the section transitions */
.page-section {
    min-height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Background image for the Welcome section */
body {
    background-image: url('./../images/blueGradient2.jpeg'); /* Replace with your welcome image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff; /* Text color for better visibility on the image */
}

#welcome-title {
    font-family: 'Dancing Script', cursive;
    font-size: 5em;
    font-weight: bold;
}

#couple-names, #couple-date, #details-title, #photo-title {
    font-family: 'Fira Sans', sans-serif;
    font-size: 2em;
}

#details-title, #photo-title, #rsvp-title {
    font-weight: bold;
    color: #07203e;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
}

#couple-names-span{
    border-top: 0.3em solid #fff; /* Adjust the border properties as needed */
    width: 5em; /* Set the width of the line */
    margin: 0 auto; /* Center the line horizontally */
    margin-bottom: 1em; /* Add margin to space it from the title */
    margin-top: 1em; /* Add margin to space it from the title */
}

.language-flag-circle {
    display: inline-block;
    width: 3em; /* Adjust the width of the circle */
    height: 2em; /* Adjust the height of the circle */
    border-radius: 50%; /* Create a circular shape */
    background-color: #ffffff; /* Set the background color of the circle */
    text-align: center;
    line-height: 30px; /* Vertically center the flag emoji */
}

.language-flag {
    font-size: 1.2em; /* Adjust the font size of the flag emoji */
    color: #fff; /* Set the color of the flag emoji */
}

.purple-icon {
    background-image: url('./../images/pen1.webp'); /* Replace with your welcome image path */
    background-repeat: no-repeat;
    background-position: center center;
}

.welcome-section {
    margin-top: 15em;
}

#details {
    color: #07203e;
}

.custom-row {
    min-height:30vh; /* Adjust the percentage of the viewport height as needed */
    display: flex;
    align-items: stretch; /* Stretch child elements to cover the entire height */
}

.cover-image {
    width: 100%; /* Set the image height to cover the entire column */
    height: auto;
}

.card {
    height: 100%; /* Set the card height to cover the entire column */
}

.qr-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload-box {
    border: 0.2em dashed #6aa5d8; /* Add a dashed border with a color of your choice */
    padding: 20px; /* Add padding for spacing */
    background-color: hsla(208, 59%, 63%, 0.172);
}

#hashtag {
    color: #07203e;
}

#rsvp-form label, legend {
    font-weight: bold;
    color: #07203e;
}

legend {
    display: inline;
}

/* Custom CSS for form field styling */
.form-control {
    background-color: hsla(208, 59%, 63%, 0.172); /* Set your desired background color */
    border: 2px solid #6aa5d8; /* Set your desired border color and width */
    border-radius: 5px; /* Rounded corners */
}

/* Custom CSS for radio buttons */
.form-check-input[type="radio"] {
    width: 20px; /* Set the width of the radio button */
    height: 20px; /* Set the height of the radio button */
    margin-right: 5px; /* Add spacing between the radio button and label */
}

.btn-primary {
    font-weight: bold;
    background-color: #07203e;
}

/* Custom CSS for custom-styled alert */
.custom-alert {
    display: none;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.custom-alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.custom-alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

/* Custom CSS to adjust menu items placement */
@media (max-width: 991px) {
    .navbar-collapse {
        position: absolute;
        width:auto;
        padding: 1em;
        top: 100%;
        right: 0;
        left: unset !important;
        background-color: #07203e; /* Customize background color as needed */
        text-align: center; /* Center menu items */
        z-index: 1; /* Ensure menu is on top of other content */
        border: 1px solid transparent;
        border-radius: 4px;
    }

    #Fiesta2, #reception-title {
        margin-top: 1em;
    }

    .some-image {
        display: none !important;
    }

    .some-row, #Fiesta5 {
        margin-bottom: 0% !important;
    }
}

#language-toggle {
    border: 1px solid transparent;
    border-radius: 4px;
}

.nav-link2, #PD-message {
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    color: #07203e;
}

.custom-content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
